/* .App{
    text-align: center;
}

h1{
    font-family: 'Bigelow Rules', cursive;
    font-size: 72px;
} */


body {
    padding: 20px 0;
    padding-bottom: 30px;
  }
  
  .App {
    text-align: center;
  }
  
  h1 {
    font-family: 'Bigelow Rules';
    font-size: 72px;
    color: #0ccac4;
  }
  